
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    
}

.container{
    background-color: black;
    padding: 4rem;
    height: 100%;
    /* width: 100vw; */
    display: grid;
    /* grid-template-columns: repeat(auto-fit , minmax(100px, 200px)); */
    /* grid-template-columns: repeat(auto-fill , minmax(100px, 200px)); */
    /* grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px)  ; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    /* justify-items: center;
    align-items: center; */
    /* place-items: center; */
    place-items: center center;           /* apply on box 4 and box 8 */
    /* place-items: align-items   justify-items; */
    
}

.box{
    height: 100px;
    width: 100px;
    background-color: yellow;
    font-size: 2rem;
}

    .Box1{
        align-self: start;
        justify-self: left;
    }

    .Box2{
        align-self: center;
    }

    .Box3{
        align-self: end;
    }

    .Box5{
        align-self: start;
        justify-self: left;
    }
    
    .Box6{
        align-self: center;
        
    }
    
    .Box7{
        align-self: end;
    }






