

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-size: 2rem;
    background-color: black;
    color: white;
    padding: 10rem;
}


.container{
    height: 100%;
    width: 100%;
    background-color: azure;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 1rem;
    align-content: center;
    justify-content:end;
}

.box{
    height: 100px;
    width: 100px;
    justify-items:left;
    background-color: orange;
}