

/* id */
#first_id{
    background-color: pink;
}


/* attribute */
h1[draggable="true"]{
    background-color: coral;
}


/* class */
.first_class{
    background-color: aqua;
}




/* child */
body > h1{
    background-color: gray;
}


/* descendant */
body h1{
    background-color: black;
}


/* element */
h1{
    background-color: blanchedalmond;
}



/* 
ID selectors have the highest specificity value.

Class selectors have lower specificity than ID selectors but higher than element selectors.

Attribute selectors have similar specificity to class selectors.
Child and descendant selectors refine specificity but don't override the ID or class level.

Element selectors (like <p>, <div>) have the lowest specificity. */

