
body{
    font-family:  'Verdana', sans-serif;
    color: #333;
    background-color:  #f0f0f0;
}

header{
    background-color:#4CAF50 ;
    color: white;
}

h1{
    font-size: 3em;
    font-weight: bold;
}

h2{
    font-size: 1.5em;
    color: #FFD700;
}

article{
    background-color: white;
}

.css-article h3{
    color: #007BFF;
    size: 2em;
}
.css-article p{
    color: #555;
}

.js-article h3{
    color: #FF4500;
    size: 2em;
}
.js-article p{
    color: #333;
}
.responsive-article h3{
    color: #8A2BE2;
    size: 2em;
}
.responsive-article p{
    color: #444;
}

h4{
    color:  #FF69B4;
    size: 1.5em;
}

table{
    background-color:  #f9f9f9;
    width: 100%;
}

th td{
    text-align-last: ;
}

th{
    background-color:  #007BFF;
    color: white;
    font-weight: bold;
}

td{
    color: #333;
}


footer{
    color: #333;
    background-color: #ccc;
}

