

.first{
    background-color: olivedrab;
    text-align-last: left;
}

.second{
    background-color: olivedrab;
    text-align-last:center;
}

.third{
    background-color: olivedrab;
    text-align-last:justify;
}

.fourth{
    background-color: olivedrab;
    text-align-last: right;
}

p{
    text-indent: 100px;
}