
*{
    margin: 0;
}

h1{
    background-color: cadetblue;
    position: fixed;
    width: 100%;
    /* top: 0px;
    left: 0px;
    right: 0px; */
}

main{
    padding-top: 60px;
    /* why padding is used here instead of margin*/
    /* kon sa type hai jo apna position chor deta hai kon kon sa type of position properties apna position nahi chorta */
}