
*{
    margin: 0;
}

.first,.third{
    display: inline-block;
    width: 25vw;
    height: 40vh;
    background-color: red;
}

.second,.fourth{
    display: inline-block;
    width: 60vw;
    height: 40vh;
    background-color: red;
}

.second, .fourth{
    margin-left: 13vw;
}

.third, .fourth{
    margin-top: 20vh;
}


/* 
#first{
    display: inline-block;
    border: 100px red solid;
    width: 10rem;
    margin-right: 10%;
}

#second{
    display: inline-block;
    border: 100px red solid;
    width: 30rem;
}

#third{
    display: inline-block;
    border: 100px red solid;
    width: 10rem;
    margin-top: 10%;

}

#fourth{
    display: inline-block;
    border: 100px red solid;
    width: 30rem;
    margin-left: 10%;

} */