*{
    margin: 0;
}

.first{
    display: inline-block;
    background-color: green;
    height: 100vh;
    width: 33vw;
}

.second{
    display: inline-block;
    background-color: white;
    height: 100vh;
    width: 32vw;
}

.third{
    display: inline-block;
    background-color: orange;
    height: 100vh;
    width: 33vw;
}