*{
    margin: 0;
}

.first{
    background-color: orange;
    height: 33vh;
    width: 100%;
}

.second{
    background-color: white;
    height: 33vh;
    width: 100vw;
}

.third{
    background-color: green;
    height: 33vh;
    width: 100vw;
}