*{
    margin: 0;
}

.card{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;

    /* phale se border de ke rakhne se hover karne pe image hilega nahi */
    border: 10px solid rgb(253, 243, 243);

    /* good to know */
    cursor: pointer;
}

body{
    background-color: rgb(253, 243, 243);
}

.card:hover{
    background-color: white;
    border-color: white;
}

.image{
    position: relative;
}

.off{
    position: absolute;
    color: white;
    font-size: 30px;
    background-color: rgba(218, 43, 16, 0.6);
    bottom: 20px;
    left: 10px;
}

.box{
    display: inline-block;
}

img{
    height: 250px;
    width: auto;
    border-radius: 20px;
}

.restaurant_name{
    font-size: 20px;
    font-weight: bold;
}

.restaurant, .food, .location{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating{
    background-color: green;
    height: 20px;
    padding: 3px;
    position: absolute;
    right: 5px;
    color: white;
    border-radius: 8px;
}

.price, .distance{
    position: absolute;
    right: 5px;
}

.food, .place{
    font-size: 15px;
    color: rgb(88, 88, 88);
}

.distance{
    font-size: 10px;
    font-weight: bold;
}