

.container{
    background-color: blue;
    /* height: 500px;
    width: 400px; */
    display: flex;
}

.box{
    height: 300px;
    width: 300px;
    color: red;
    background-color: aqua;
    margin: 30px;
}


/* Mobile phone */
@media (max-width:600px){
    .container{
        flex-direction: column;
    }
}

/* max width 900px, 600px min Tablet */
@media (min-width:601px) and (max-width:900px){

}

/* min 900px Desktop */
@media (min-width:900px) {
    
}



/* @media (max-width:500px)
{
    .container{
        background-color: aqua;
        width: 200px;
    }
} */