
/* by default overflow is visible */
/* visible (default) */
/* hidden */
/* scroll  */
/* auto */

div{
    height: 200px;
    width: 100%;
    background-color: aqua;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
}