    /* Element selector */
/* body{
    background-color: aqua;
} */


     /* Universal selector */
/* *{
    background-color: aqua;
    color: brown;
} */


    /* Group selector */
/* h1, h2, p, #third{
    background-color: aqua;
} */

    /* method 1 to select draggable */
/* #fourth{
    background-color: blueviolet;
} */


    /* method 2 to select draggable */
    h2[draggable="true"]{
        background-color: blueviolet;
    }

    /* select by attribute */
    /* section p{
        background-color: aqua;
    } */

    /* select by descendent */

    /* select by child */
    section > p{
        background-color: aqua;
    }

    /* ID Selector with Class Selector #id.class */
    /* #id.class {
        CSS properties
    } */
