

body{
    background-color: antiquewhite;
}

.card:hover{
    background-color: pink;
    transform: scale(1.2);
}

.card:hover h3{
    color: rgb(73, 150, 31);
}


.card{
    width: 30vm;
    height: 10vm;
    background-color: aqua;
    border: 5px green solid;
    padding: 10px;
    margin: 20px 20px 20px 20px;
}

h2{
    color: green;
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}