

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 4rem;
    align-items: center;
}

.box{
    height: 200px;
    width: 200px;
    background-color: orange;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;


    /* position: relative; */

    /* for animation */
    animation-name: movement;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 50%;
}

@keyframes movement {
    /* initial position */
    from{
        /* top: 0px;
        left: 0px; */
        /* transform: translate(0px); */
        transform: translateY(0vh);
    }
    /* final position */
    to{
        /* top: 0px;
        left: 800px; */
        /* transform: translate(100px); */
        transform: translateY(40vh);        
        /* transform: translate(80vw, 50vh); */
    }
    
}