

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: orange;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: spin 5s linear infinite ;
}

@keyframes spin {
    from{
        transform: rotate(0deg) translate(250px);
    }
    to{
        transform: rotate(360deg) translate(250px);
    }
}