

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.orbit{
    height: 200px;
    width: 200px;
    position: relative;
}

.sun{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50;
    left: 50;
}

.orbital{
    height: 200px;
    width: 200px;
    border: 1px dashed rgb(95, 114, 174);
    border-radius: 50%;
    position: relative;
    bottom: 50px;
    right: 50px;
}

.mercury, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.mercury{
    height: 50px;
    width: 50px;
    background-color: orange;
    animation: mercury 3s linear infinite ;
}

.venus {
    height: 70px;
    width: 70px;
    background-color: rgb(211, 211, 62);
    animation: venus 5s linear infinite;
}

.earth {
    height: 80px;
    width: 80px;
    background-color: blue;
    animation: earth 7s linear infinite;
}

.mars {
    height: 60px;
    width: 60px;
    background-color: red;
    animation: mars 9s linear infinite;
}

.jupiter {
    height: 120px;
    width: 120px;
    background-color: brown;
    animation: jupiter 12s linear infinite;
}

.saturn {
    height: 110px;
    width: 110px;
    background-color: goldenrod;
    animation: saturn 15s linear infinite;
}

.uranus {
    height: 90px;
    width: 90px;
    background-color: lightblue;
    animation: uranus 20s linear infinite;
}

.neptune {
    height: 95px;
    width: 95px;
    background-color: darkblue;
    animation: neptune 25s linear infinite;
}

@keyframes mercury {
    from {
        transform: rotate(0deg) translate(150px);
    }
    to {
        transform: rotate(360deg) translate(150px);
    }
}

@keyframes venus {
    from {
        transform: rotate(0deg) translate(200px);
    }
    to {
        transform: rotate(360deg) translate(200px);
    }
}

@keyframes earth {
    from {
        transform: rotate(0deg) translate(250px);
    }
    to {
        transform: rotate(360deg) translate(250px);
    }
}

@keyframes mars {
    from {
        transform: rotate(0deg) translate(300px);
    }
    to {
        transform: rotate(360deg) translate(300px);
    }
}

@keyframes jupiter {
    from {
        transform: rotate(0deg) translate(350px);
    }
    to {
        transform: rotate(360deg) translate(350px);
    }
}

@keyframes saturn {
    from {
        transform: rotate(0deg) translate(400px);
    }
    to {
        transform: rotate(360deg) translate(400px);
    }
}

@keyframes uranus {
    from {
        transform: rotate(0deg) translate(450px);
    }
    to {
        transform: rotate(360deg) translate(450px);
    }
}

@keyframes neptune {
    from {
        transform: rotate(0deg) translate(500px);
    }
    to {
        transform: rotate(360deg) translate(500px);
    }
}
